<!DOCTYPE html>
<html>
<head>
    {% block title %}
    {% endblock %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('asset/css/styleBaseSocial.css') }}">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<header>

</header>
<main>
    <aside>

    </aside>
    {% block content %}
    {% endblock %}
</main>
<footer>

</footer>
</body>
</html>