{% extends 'baseSocial.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('asset/css/profilStyle.css') }}">
{% endblock %}

{% block title %}
    <title>Profil</title>
{% endblock %}

{% block content %}


    <div class="imgContainer">
        <img src="{{ asset('asset/img/filRouge.png') }}" alt="filRouge" class="img">
    </div>
{% endblock %}