{% extends 'baseSocial.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('asset/css/socialStyle.css') }}">
{% endblock %}
{% block title %}
    <title>Social</title>
{% endblock %}

{% block content %}


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aperiam beatae commodi consectetur deserunt
    doloremque ea eos fugit in incidunt ipsum, iste, iure maiores, mollitia quaerat quas quo ratione reprehenderit ut!
    Ad at cum, eius hic nesciunt nobis officia praesentium quidem. Corporis cumque enim est sapiente temporibus. Aliquam
    autem deleniti dignissimos eaque ipsam laboriosam pariatur quaerat voluptatum. In laudantium magnam nisi possimus
    quod, saepe voluptate. Ad alias consequatur corporis debitis delectus dolorum fuga fugiat hic illo, ipsa laboriosam
    non pariatur quibusdam quos recusandae reiciendis, sapiente sed tempora voluptates, voluptatibus. Architecto cumque
    earum ex fugiat illo maxime molestiae repudiandae sunt, totam voluptatem! Alias aliquam asperiores atque debitis
    deleniti dignissimos distinctio doloremque, eaque et exercitationem facere harum iste laudantium maiores molestias
    natus, necessitatibus nesciunt nobis numquam pariatur provident quae quam quod repellendus reprehenderit repudiandae
    sunt tempore tenetur vero voluptate! Ab aliquid error hic minus nemo perferendis sapiente soluta tempora. Debitis,
    eligendi?</p>
{% endblock %}